
						<h1>Materials</h1>

        <!-- search info -->
                        <br>
                        <label>Search by name: </label>
                        <input type="text" ng-model="search.name">
                        <br>
                        <label>Search by description: </label>
                        <input type="text" ng-model="search.desc">
                        <br>
                        <label>Search by Rep: </label>
                        <input type="text" ng-model="search.rep.name">
                        <br>
                        <br>
                        <button class="btn" ng-click="goToCreateMaterial()">Create material</button>
                        <hr>
                        <div ng-repeat="material in allMaterials | filter : search | orderBy: 'name' track by material._id">
                            <ul>
                                <li ng-show="material.needsReorder">
                                    <h3 class="needsReorder"><strong>Reorder at least {{material.reorderAmount + ' ' + material.qtyType}}</strong></h3>
                                </li>
                                <li>
                                    <strong>Name:</strong> {{material.name}}
                                </li>
                                <li>
                                    <strong>Description:</strong> {{material.desc}}
                                </li>
                                <li>
                                    <strong>On Hand:</strong> {{material.onHand + ' ' + material.qtyType}}
                                </li>
                                <li>
                                    <strong>Minimum needed on hand:</strong> {{material.minOnHand + ' ' + material.qtyType}}
                                </li>
                                <li>
                                    <strong>Reorder interval:</strong> {{material.reorderInterval}} {{material.intervalType}}
                                </li>
                                <li>
                                    <strong>Next reorder date:</strong> {{material.nextReorderDate | date: 'mediumDate'}}
                                </li>
                                <li>
                                    <strong>Rep:</strong> {{material.rep.name}}
                                </li>

                <!-- previous order information -->

                                <ul ng-repeat="order in material.orders" ng-click="orderShow = !orderShow"><strong>Orders</strong><span class="caret"></span>
                                    <div ng-show="orderShow">
                                        <li>
                                            <strong>Order date:</strong> {{order.orderDate | date: 'mediumDate'}}
                                        </li>
                                        <li>
                                            <strong>Order amount:</strong> {{order.qty}}
                                        </li>
                                    </div>
                                </ul>
                                <br>
                                <button class="btn" ng-click="getRep( material.rep._id )">Contact Rep</button>
                                <button class="btn" ng-click="goToUpdateMaterial( material._id )">Update</button>
                            </ul>
                        <hr>
                        </div>
                    