<div id="wrapper">

    <home-sidebar></home-sidebar>
	<navbar-dir></navbar-dir>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
						<h1>Materials</h1>
                        <button ng-click="goToCreateMaterial()">Create material</button>
                        <hr>
                        <div ng-repeat="material in allMaterials | orderBy: 'name' track by material._id">
                            <ul>
                                <li ng-show="material.needsReorder">
                                    <h3><strong>Reorder at least {{material.reorderAmount + ' ' + material.qtyType}}!</strong></h3>
                                </li>
                                <li>
                                    <strong>Name:</strong> {{material.name}}
                                </li>
                                <li>
                                    <strong>Description:</strong> {{material.desc}}
                                </li>
                                <li>
                                    <strong>On Hand:</strong> {{material.onHand + ' ' + material.qtyType}}
                                </li>
                                <li>
                                    <strong>Minimum needed on hand:</strong> {{material.minOnHand + ' ' + material.qtyType}}
                                </li>
                                <li>
                                    <strong>Reorder interval:</strong> {{material.reorderInterval}} {{material.intervalType}}
                                </li>
                                <li>
                                    <strong>Next reorder date:</strong> {{material.nextReorderDate | date: 'mediumDate'}}
                                </li>
                                <li>
                                    <strong>Rep:</strong> {{material.rep.name}}
                                </li>
                                <ul ng-repeat="order in material.orders" ng-click="orderShow = !orderShow"><strong>Orders</strong><span class="caret"></span>
                                    <div ng-show="orderShow">
                                        <li>
                                            <strong>Order date:</strong> {{order.orderDate | date: 'mediumDate'}}
                                        </li>
                                        <li>
                                            <strong>Order amount:</strong> {{order.qty}}
                                        </li>
                                    </div>
                                </ul>
                                <br>
                                <button>Reorder</button>
                                <button ng-click="goToUpdateMaterial( material._id )">Update</button>
                            </ul>
                        <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
</div>