<div id="wrapper">

    <home-sidebar></home-sidebar>
	<navbar-dir></navbar-dir>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Reps</h2>

            <!-- search -->

                        <br>
                        <label>Search by name: </label>
                        <input type="text" ng-model="search.name">
                        <br>
                        <label>Search by company: </label>
                        <input type="text" ng-model="search.companies">
                        <br>
                        <br>
                        <button class="btn" ng-click="goToNewRep()">Add new rep</button>
                        <br>
                        <hr>

            <!-- repeated rep info -->

                        <ul ng-click="getRep( rep._id )" ng-repeat="rep in reps | filter: search | orderBy : name track by rep._id">
                            <li>
                                <strong>Name:</strong> {{rep.name}}
                            </li>
                            <li><strong>Represents:</strong>
                                <ul ng-repeat="company in rep.companies">
                                    <li>
                                        {{company}}
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <strong>Phone:</strong> {{rep.phone}}
                            </li>
                            <li>
                                <strong>Fax:</strong> {{rep.fax}}
                            </li>
                            <li>
                                <strong>eMail:</strong> {{rep.email}}
                            </li>
                            <li><h4>{{rep.notes.length}} Note(s)</h4>
                             </li>
                             <br>
                            <button class="btn" ng-click="goToRep( rep._id )">Go to rep</button> 
                            <hr>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
</div>