
                        <h1>Patient</h1>
                        <button ng-show="!showUpdateForm" class="btn" ng-click="canUpdate()">Edit patient info</button>
                        <br>
                        <br>
                        <ul>
                            <div ng-show="!showUpdateForm">

                <!-- show patient information -->

                                <li>
                                    <strong>Name:</strong> {{ patient.firstName + ' ' + patient.lastName }}
                                </li>
                                <li>
                                    <strong>Gender:</strong> {{patient.gender}}
                                </li>
                                <li>
                                    <strong>DoB:</strong> {{patient.DOB | date : 'mediumDate'}}
                                </li>
                                <li>
                                    <strong>SSN:</strong> {{patient.ssn}}
                                </li>
                                <li><strong>Address</strong>
                                    <ul>
                                        <li>
                                            {{patient.address}}
                                        </li>
                                        <li>
                                            {{patient.city}}, {{patient.state}} {{patient.zip}}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Phone:</strong> {{patient.phone}}
                                    <span ng-show="patient.leaveMessageOK"><strong>Okay to leave message!</strong></span>
                                </li>
                                <li ng-show="patient.callCellOK">
                                    <strong>Cell phone:</strong>  {{patient.cellPhone}} <strong>Okay to contact on cellphone!</strong>
                                </li>
                                <li>
                                    <strong>Work phone:</strong> {{patient.workPhone}} <span ng-show="patient.callWorkOK"><strong>Okay to contact at work!</strong></span>
                                </li>
                                <li>
                                    <strong>eMail:</strong> {{patient.email}}
                                </li>
                            </div>

        <!-- edit current patients information -->

                            <form ng-show="showUpdateForm" ng-submit="updatePatientInfo( updatePat )">
                                <li>
                                    <strong>First name:</strong> <input type="text" ng-model="updatePat.firstName" placeholder="{{patient.firstName}}">
                                </li>
                                <br>
                                <li>
                                    <strong>Last name:</strong> <input type="text" ng-model="updatePat.lastName" placeholder="{{patient.lastName}}">
                                </li>
                                <br>
                                <li>
                                    <strong>Gender:</strong> <input type="text" ng-model="updatePat.gender" placeholder="{{patient.gender}}">
                                </li>
                                <br>
                                <li>
                                    <strong>DoB:</strong> <input type="text" ng-model="updatePat.DOB" placeholder="{{patient.DOB | date : 'mediumDate'}}">
                                </li>
                                <br>
                                <li>
                                    <strong>SSN:</strong> <input type="text" ng-model="updatePat.ssn" placeholder="{{patient.ssn}}">
                                </li>
                                <br>
                                <li><strong>Address</strong>
                                    <ul>
                                        <li>
                                            <strong>Street:</strong>  <input type="text" ng-model="updatePat.address" placeholder="{{patient.address}}">
                                        </li>
                                        <br>
                                        <li>
                                            <strong>City:</strong>  <input type="text" ng-model="updatePat.city" placeholder="{{patient.city}}"> <strong>State:</strong>  <input type="text" ng-model="updatePat.state" placeholder="{{patient.state}}"> <strong>Zipcode:</strong>  <input type="text" ng-model="updatePat.zip" placeholder="{{patient.zip}}">
                                        </li>
                                        <br>
                                    </ul>
                                </li>
                                <br>
                                <li>
                                    <strong>Phone:</strong> <input type="text" ng-model="updatePat.phone" placeholder="{{patient.phone}}">
                                    <span ng-show="patient.leaveMessageOK"><strong>Okay to leave message!</strong></span>
                                </li>
                                <br>
                                <li ng-show="patient.callCellOK">
                                    <strong>Cell phone:</strong>  <input type="text" ng-model="updatePat.cellPhone" placeholder="{{patient.cellPhone}}"> <strong>Okay to contact on cellphone!</strong>
                                </li>
                                <br>
                                <li>
                                    <strong>Work phone:</strong> <input type="text" ng-model="updatePat.workPhone" placeholder="{{patient.workPhone}}"> <span ng-show="patient.callWorkOK"><strong>Okay to contact at work!</strong></span>
                                </li>
                                <br>
                                <li>
                                    <strong>eMail:</strong> <input type="text" ng-model="updatePat.email" placeholder="{{patient.email}}">
                                </li>
                                <br>
                                <input class="btn" type="submit" id="submit" value="Save">
                                <button class="btn" ng-click="clear()">Cancel</button>
                            </form>

        <!-- show referral information -->

                            <h3>{{patient.referral.length}} Referral(s):</h3>
                            <ul ng-repeat="ref in patient.referral track by ref._id">
                                <li ng-click="getReferral( ref._id )" >
                                    <strong><a>Dr. {{ref.firstName + ' ' + ref.lastName + ' ' + ref.suffix }}</a></strong>
                                </li>
                            </ul>

            <!-- add new referral -->

                            <form ng-show="showRefs" ng-submit="updatePatientInfo( addReftoPat )" name="addRef">
                                <label for="referral select">Select referral to add:  </label>
                                <select name="referral select" ng-model="addReftoPat.referral">
                                  <option ng-repeat="referral in referralOptions track by referral._id"  value="{{referral._id}}">{{'Dr. ' + referral.firstName + ' ' + referral.lastName}} :&nbsp;&nbsp;&nbsp;{{referral.practiceName}}</option>
                                </select><br>
                                <input class="btn" type="submit" id="submit" value="Save">
                                <button class="btn" ng-click="clear()">Cancel</button>
                            </form>
                            <br>
                            <!-- <button ng-click="addNewRef()" class="btn">Add new referral</button> -->
                            <button ng-show="!showRefs" ng-click="addExistingRef()" class="btn">Add  referral</button>
                            <br>

        <!-- show patient implants -->
                            
                            <h3>{{patient.implants.length}} Implant(s):</h3>
                            <ul ng-repeat="implant in patient.implants track by implant._id">
                                <div ng-show="!showForm">
                                    <li ng-show="!ptImplantCreate" ng-click="show = !show">
                                        <strong>Insertion date:</strong> {{implant.insertionDate | date : 'mediumDate'}} <span class="caret"></span>
                                    </li>
                                    <div ng-show="show">
                                        <li>
                                            <strong>Brand:</strong> {{implant.implant.brand}}
                                        </li>
                                        <li>
                                            <strong>Size:</strong> {{implant.implant.size}}
                                        </li>
                                        <li>
                                            <strong>Lot:</strong> {{implant.lot}}
                                        </li>
                                        <li>
                                            <strong>Tooth #</strong> {{implant.tooth}}
                                        </li>
                                        <div>
                                            <ul ng-show="details" ng-click="details = !details">
                                                <li>
                                                    <strong>Removal date:</strong> {{implant.removalDate}}
                                                </li>
                                                <li>
                                                    <strong>Prosthetic placement date:</strong> {{implant.prostheticDate}}
                                                </li>
                                                <li>
                                                    <strong>Healing abutment placement date:</strong> {{implant.healingAbutmentDate}}
                                                </li>
                                                <li>
                                                    <strong>Bone quantity:</strong> {{implant.boneQty}}
                                                </li>
                                                <li>
                                                    <strong>Bone quality:</strong> {{implant.boneQlty}}
                                                </li>
                                                <li>
                                                    <strong>Bone Status:</strong> {{implant.boneStatus}}
                                                </li>
                                                <li>
                                                    Last update date: {{implant.updated.date | date : 'medium' }}
                                                </li>
                                                <!-- <li>
                                                    {{"last updated by" + updateUser}}
                                                </li> -->
                                            </ul>
                                            <button class="btn" ng-click="details = !details" ng-show="!details">Details</button>
                                            <button class="btn" ng-click="details = !details" ng-show="details">Hide details</button>
                                            <button class="btn" ng-show="!updateImplant" ng-click="canUpdatePtImp()">Edit</button>
                                            <button class="btn" ng-show="updateImplant" ng-click="clear()">Cancel</button>
                                        </div>
                                    </div>
                                </div>

            <!-- update pt implant -->

                                <div ng-show="showForm">
                                    <form ng-submit="updatePtImplant( updatePtImp )">
                                        <ul>
                                            <label for="imp select">Select change imp to:  </label>
                                            <select name="imp select" ng-model="updatePtImp.implant">
                                              <option ng-repeat="impOption in impOptions track by impOption._id"  value="{{impOption._id}}">{{'Brand:  ' + impOption.brand + '  |  Size: ' + impOption.size + '  |  Ref #: ' + impOption.reference}}</option>
                                            </select>
                                            <br>
                                            <br>
                                            <li>
                                                <strong>Insertion date:</strong> <input type="text" ng-model="updatePtImp.insertionDate" placeholder="{{implant.insertionDate | date: 'shortDate'}}">
                                            </li>
                                            <br>
                                            <li>
                                                <strong>Lot:</strong> <input type="text" ng-model="updatePtImp.lot" placeholder="{{implant.lot}}">
                                            </li>
                                            <br>
                                            <li>
                                                <strong>Tooth #</strong> <input type="text" ng-model="updatePtImp.tooth" placeholder="{{implant.tooth}}">
                                            </li>
                                            <br>
                                            <li>
                                                <strong>Removal date:</strong> <input type="text" ng-model="updatePtImp.removalDate" placeholder="{{implant.removalDate | date: 'shortDate'}}">
                                            </li>
                                            <br>
                                            <li>
                                                <strong>Prosthetic placement date:</strong> <input type="text" ng-model="updatePtImp.prostheticDate" placeholder="{{implant.prostheticDate | date: 'shortDate'}}">
                                            </li>
                                            <br>
                                            <li>
                                                <strong>Healing abutment placement date:</strong> <input type="text" ng-model="updatePtImp.healingAbutementDate" placeholder="{{implant.healingAbutementDate | date: 'shortDate'}}">
                                            </li>
                                            <br>
                                            <li>
                                                <strong>Bone quantity:</strong> <input type="text" ng-model="updatePtImp.boneQty" placeholder="{{implant.boneQty}}">
                                            </li>
                                            <br>
                                            <li>
                                                <strong>Bone quality:</strong> <input type="text" ng-model="updatePtImp.boneQlty" placeholder="{{implant.boneQlty}}">
                                            </li>
                                            <br>
                                            <li>
                                                <strong>Bone Status:</strong> <input type="text" ng-model="updatePtImp.boneStatus" placeholder="{{implant.boneStatus}}">
                                            </li>
                                            <br>
                                        </ul>
                                        <input class="btn" type="submit" value="Save">
                                        <button class="btn" ng-click="clear()">Cancel</button>
                                        <br>
                                        <br>
                                    </form>
                                </div>

                            </ul>

        <!-- create pt implant form -->

                            <form ng-show="ptImplantCreate" ng-submit="createPtImplant( newPtImp )">
                                <ul>
                                    <label for="imp select">Select imp to add:  </label>
                                    <select name="imp select" ng-model="newPtImp.implant">
                                      <option ng-repeat="impOption in impOptions track by impOption._id"  value="{{impOption._id}}">{{'Brand:  ' + impOption.brand + '  |  Size: ' + impOption.size + '  |  Ref #: ' + impOption.reference}}</option>
                                    </select>
                                    <br>
                                    <br>
                                    <li>
                                        <strong>Insertion date:</strong> <input type="text" ng-model="newPtImp.insertionDate">
                                    </li>
                                    <br>
                                    <li>
                                        <strong>Lot:</strong> <input type="text" ng-model="newPtImp.lot">
                                    </li>
                                    <br>
                                    <li>
                                        <strong>Tooth #</strong> <input type="text" ng-model="newPtImp.tooth">
                                    </li>
                                    <br>
                                    <li>
                                        <strong>Removal date:</strong> <input type="text" ng-model="newPtImp.removalDate">
                                    </li>
                                    <br>
                                    <li>
                                        <strong>Prosthetic placement date:</strong> <input type="text" ng-model="newPtImp.protheticDate">
                                    </li>
                                    <br>
                                    <li>
                                        <strong>Healing abutment placement date:</strong> <input type="text" ng-model="newPtImp.healingAbutementDate">
                                    </li>
                                    <br>
                                    <li>
                                        <strong>Bone quantity:</strong> <input type="text" ng-model="newPtImp.boneQty">
                                    </li>
                                    <br>
                                    <li>
                                        <strong>Bone quality:</strong> <input type="text" ng-model="newPtImp.boneQlty">
                                    </li>
                                    <br>
                                    <li>
                                        <strong>Bone Status:</strong> <input type="text" ng-model="newPtImp.boneStatus">
                                    </li>
                                    <br>
                                </ul>
                                <input class="btn" type="submit" value="Save">
                                <button class="btn" ng-click="clear()">Cancel</button>
                            </form>

                            <br>
                            <button ng-show="!ptImplantCreate" ng-click="canCreatePtImp()" class="btn">Add implant</button>
                            <br>

            <!-- show patient drugs -->
                            <h3>{{patient.drugs.length}} Drug(s)</h3>
                            <ul ng-show="!ptDrugCreate" ng-repeat="drug in patient.drugs track by drug._id">
                                <div ng-show="!showDrugForm">
                                    <li ng-click="show = !show">
                                        <strong>Date:</strong> {{drug.date | date : 'mediumDate'}} <span class="caret"></span>
                                    </li>
                                    <div ng-show="show">
                                        <li>
                                            <strong>Brand:</strong> {{drug.drug.brand}}
                                        </li>
                                        <li>
                                            <strong>Generic:</strong> {{drug.drug.generic}}
                                        </li>
                                        <li>
                                            <strong>Amount Used:</strong> {{drug.volumeUsed + ' ' + drug.drug.vialType}}
                                        </li>
                                        <li>
                                            <strong>Amount Wasted</strong> {{drug.volumeWasted + ' ' + drug.drug.vialType}}
                                        </li>
                                        <div>
                                            <button class="btn" ng-click="details = !details" ng-show="!details">Details</button>
                                            <button class="btn" ng-click="details = !details" ng-show="details">Hide details</button>
                                            <button class="btn" ng-click="canUpdatePtDrug()">Edit</button>
                                            <br>
                                            <ul ng-show="details" ng-click="details = !details">
                                                <li>
                                                    Last update date: {{drug.updated.date | date : 'medium' }}
                                                </li>
                                                <!-- <li>
                                                    {{"last updated by" + updateUser}}
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
            
            <!-- update pt drugs -->

                                    <div ng-show="showDrugForm">
                                        <form ng-submit="updatePtDrug( updatePtDrug )">
                                            <ul>
                                                <label for="drug select">Select change drug to:  </label>
                                                <select name="drug select" ng-model="addDrugToRep.drugs">
                                                  <option ng-repeat="drugOption in drugOptions track by drugOption._id"  value="{{drugOption._id}}">{{'Brand:  ' + drugOption.brand + '  |   Generic:  ' + drugOption.generic + '  |  strength:  ' + drugOption.strength}}</option>
                                                </select>
                                                <br>
                                                <br>
                                                <li>
                                                    <strong>Date:</strong> <input type="text" ng-model="newPtDrug.date" placeholder="{{drug.date | date : 'shortDate'}}">
                                                </li>
                                                <br>
                                                <li>
                                                    <strong>Amount used:</strong> <input type="text" ng-model="newPtDrug.volumeUsed" placeholder="{{drug.volumeUsed}}">
                                                </li>
                                                <br>
                                                <li>
                                                    <strong>Amount wasted</strong> <input type="text" ng-model="newPtDrug.volumeWasted" placeholder="{{drug.volumeWasted}}">
                                                </li>
                                                <br>
                                            <input class="btn" type="submit" value="Save">
                                            <button class="btn" ng-click="clear()">Cancel</button>
                                            <br>
                                            <br>
                                        </form>
                                    </div>

                                </ul>

            <!-- create pt drug form -->

                                <form ng-show="ptDrugCreate" ng-submit="createPtDrug( newPtDrug )">
                                    <ul>
                                        <label for="Drug select">Select drug to add:  </label>
                                        <select name="drug select" ng-model="newPtDrug.drug">
                                          <option ng-repeat="drugOption in drugOptions track by drugOption._id"  value="{{drugOption._id}}">{{'Brand:  ' + drugOption.brand + '  |   Generic:  ' + drugOption.generic + '  |  strength:  ' + drugOption.strength}}</option>
                                        </select>
                                        <br>
                                        <br>
                                        <li>
                                            <strong>Date:</strong> <input type="text" ng-model="newPtDrug.date">
                                        </li>
                                        <br>
                                        <li>
                                            <strong>Amount used:</strong> <input type="number" ng-model="newPtDrug.volumeUsed">
                                        </li>
                                        <br>
                                        <li>
                                            <strong>Amount wasted</strong> <input type="number" ng-model="newPtDrug.volumeWasted">
                                        </li>
                                        <br>
                                    </ul>
                                    <input class="btn" type="submit" value="Save">
                                    <button class="btn" ng-click="clear()">Cancel</button>
                                </form>

                                <br>
                                <button ng-show="!ptDrugCreate" ng-click="canCreatePtDrug()" class="btn">Add Drug</button>
                                <br>
                                </div>
                            </ul>
                        </ul>

                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
          