

        <!-- search info -->

                        <h1>Patients</h1>
                        <label>Search by first name: </label>
                        <input type="text" ng-model="search.firstName">
                        <br>
                        <label>Search by last name: </label>
                        <input type="text" ng-model="search.lastName">
                        <br>
                        <label>Search by phone number: </label>
                        <input type="text" ng-model="search.phone">
                        <br>
                        <label>Search by social security: </label>
                        <input type="text" ng-model="search.ssn">
                        <br>
                        <br>
                        <button class="btn" ng-click="goToNewPatient()">Add new patient</button>
                        <br>
                        <hr>

<!-- repeated patient info -->

                        <ul ng-repeat="patient in patients | filter : search | orderBy: 'lastName'">
                           <li ng-click="patDetails = !patDetails">
                                <strong>Name:</strong> {{ patient.firstName + ' ' + patient.lastName }} <span class="caret"></span>
                            </li>
                            <div ng-click="goToPatient( patient._id )">
                                <li>
                                    <strong>DoB:</strong> {{patient.DOB | date : 'mediumDate'}}
                                </li>
                                <div ng-show="patDetails">
                                    <li><strong>Address</strong>
                                        <ul>
                                            <li>
                                                {{patient.address}}
                                            </li>
                                            <li>
                                                {{patient.city}}, {{patient.city}} {{patient.zip}}
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>Phone:</strong> {{patient.phone}}
                                    </li>
                                    <li>
                                        <strong>eMail:</strong> {{patient.email}}
                                    </li>                                    
                                    <li>
                                        <strong>SSN:</strong> {{patient.ssn}}
                                    </li>
                                </div>
                            </div>
                            <div>
                                <h4>{{patient.referral.length}} Referral(s),  <span>{{patient.implants.length}} Implant(s),</span>  <span>{{patient.drugs.length}} Drug(s) </span></h4>

        <!-- repeated patient referral info -->

                                <ul ng-click="getReferral( ref._id )" ng-repeat="ref in patient.referral track by ref._id">
                                    <li>
                                        <strong>Name:</strong> <a>Dr. {{ref.firstName + ' ' + ref.lastName + ' ' + ref.suffix }}</a>
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <button class="btn" ng-click="goToPatient( patient._id )">Go to patient</button>
                        <hr>
                        </ul>

                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
     