<div id="wrapper">

    <referral-sidebar></referral-sidebar>
    <navbar-dir></navbar-dir>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Referral</h1>{{test}}
                        <button ng-show="!showUpdateForm" class="btn" ng-click="canUpdate()">Edit referral info</button>
                        <br>
                        <br>
            <!-- Show referral info -->
                        <ul>
                            <div ng-show="!showUpdateForm">
                                <li>
                                    <strong>Name:</strong> Dr. {{ oneRef.firstName }} <!-- + ' ' + --> {{ oneRef.lastName + ' ' + oneRef.suffix }}
                                </li>
                                <li>
                                    <strong>Practice:</strong> {{oneRef.practiceName}}
                                </li>
                                <li>
                                    <strong>Phone:</strong> {{oneRef.phone}}
                                </li>
                                <li>
                                    <strong>Fax:</strong> {{oneRef.fax}}
                                </li>
                                <li>
                                    <strong>eMail:</strong> {{oneRef.email}}
                                </li>
                                <hr>
                            </div>
            <!-- update form -->
                            <form ng-show="showUpdateForm" ng-submit="updateReferralInfo( updateRef )">
                                <li>
                                    <strong>First name:</strong> <input type="text" ng-model="updateRef.firstName" placeholder="{{oneRef.firstName}}">
                                </li>
                                <br>
                                <li>
                                    <strong>Last name:</strong> <input type="text" ng-model="updateRef.lastName" placeholder="{{oneRef.lastName}}">
                                </li>
                                <br>
                                <li>
                                    <strong>Suffix:</strong> <input type="text" ng-model="updatedRef.suffix" placeholder="{{oneRef.suffix}}">
                                </li>
                                <br>
                                <li>
                                    <strong>Practice name:</strong> <input type="text" ng-model="updateRef.practiceName" placeholder="{{oneRef.practiceName}}">
                                </li>
                                <br>
                                <li>
                                    <strong>Phone:</strong> <input type="text" ng-model="updateRef.phone" placeholder="{{oneRef.phone}}">
                                </li>
                                <br>
                                <li>
                                    <strong>Fax:</strong>  <input type="text" ng-model="updateRef.fax" placeholder="{{oneRef.fax}}">
                                </li>
                                <br>
                                <li>
                                    <strong>eMail:</strong> <input type="text" ng-model="updateRef.email" placeholder="{{oneRef.email}}">
                                </li>
                                <br>
                                <input class="btn" type="submit" id="submit" value="Save">
                                <button class="btn" ng-click="clear()">Cancel</button>
                            </form>
                        </ul>

            <!-- address form -->
                            <div ng-show="!showAddress">
                                <button ng-show="!addLoc" class="btn" ng-click="canUpdateLoc()">Add location</button>
                                <br>
                                <form ng-show="addLoc" ng-submit="addLocation( newLocation )"><strong>New Location</strong>
                                    <ul>
                                        <li><strong>Location Name:</strong>  <input type="text" ng-model="newLocation.locationName" placeholder="( Location name )">
                                        </li>
                                        <br>
                                        <li>
                                            <strong>Street:</strong>  <input type="text" ng-model="newLocation.address" placeholder="( Address)">
                                        </li>
                                        <br>
                                        <li>
                                            <strong>City:</strong>  <input type="text" ng-model="newLocation.city" placeholder="( City )"> <strong>State:</strong>  <input type="text" ng-model="newLocation.state" placeholder="( State )"> <strong>Zipcode:</strong>  <input type="text" ng-model="newLocation.zip" placeholder="( Zipcode">
                                        </li>
                                        <br>
                                    </ul>
                                    <input class="btn" type="submit" id="submit" value="Save">
                                    <button class="btn" ng-click="clear()">Cancel</button>
                                </form>
                            </div>
                            <br>
            <!-- location display -->
                            <h4><strong>Locations</strong></h4>
                            <div>
                                <ul ng-repeat="address in oneRef.locations">
                                    <div>
                                        <li>
                                            <strong>{{address.locationName}}</strong>
                                        </li>
                                        <li>
                                            {{address.address}}
                                        </li>
                                        <li>
                                            {{address.city}}, {{address.state}} {{address.zip}}
                                        </li>
                                        <br>
                                    </div>
                    <!-- location update -->
                                    <div ng-show="showAddress">
                                        <form ng-submit="updateLocationInfo( updateLocation )"><strong>Address</strong>
                                            <ul>
                                                <li><strong>Location Name:</strong>  <input type="text" ng-model="updateLocation.locationName" placeholder="{{location.locationName}}">
                                                </li>
                                                <br>
                                                <li>
                                                    <strong>Street:</strong>  <input type="text" ng-model="updateLocation.address" placeholder="{{location.address}}">
                                                </li>
                                                <br>
                                                <li>
                                                    <strong>City:</strong>  <input type="text" ng-model="updateLocation.city" placeholder="{{location.city}}"> <strong>State:</strong>  <input type="text" ng-model="updateLocation.state" placeholder="{{location.state}}"> <strong>Zipcode:</strong>  <input type="text" ng-model="updateLocation.zip" placeholder="{{location.zip}}">
                                                </li>
                                                <br>
                                            </ul>
                                            <input class="btn" type="submit" id="submit" value="Save">
                                            <button class="btn" ng-click="clear()">Cancel</button>
                                        </form>
                                    </div>
                                    <button ng-show="!showAddress" class="btn" ng-click="canUpdateAddress()">Edit location info</button>
                                </ul>
                            </div>
                            <br>
                            <hr>
                <!-- update note form -->
                            <div ng-show="!noteUpdateShow">
                                <button  ng-show="!noteShow" ng-click="canCreateNote()" class="btn">Add note</button>
                                <form ng-show="noteShow" ng-submit="createNote( newNote )"><h3>New note</h3>
                                    <ul>
                                        <li>
                                            <strong>Date:</strong> <input type="text" placeholder="{{date | date : 'shortDate'}}" ng-model="newNote.date">
                                        </li>
                                        <br>
                                        <li>
                                            <strong>Description:</strong> <input type="text" ng-model="newNote.desc">
                                        </li>
                                        <br>
                                        <li>
                                            <strong>Note:</strong> <input type="text" ng-model="newNote.body">
                                        </li>
                                        <br>
                                    </ul>
                                    <input type="submit" id="submit" value="Save" class="btn">
                                    <button class="btn" ng-click="clear()">Cancel</button>
                                </form>
                            </div>

                <!-- show notes -->
                            <h3>Notes</h3>
                            <div>
                                <ul ng-repeat="note in oneRef.notes">
                                    <div>
                                        <li>
                                            <strong>Date:</strong> {{note.date | date: 'mediumDate'}}
                                        </li>
                                        <li ng-click="noteDetails = !noteDetails">
                                            <strong>Description:</strong> {{note.desc}} <span class="caret"></span>
                                        </li>
                                        <li ng-show="noteDetails">
                                            <strong>Note:</strong> {{note.body}}
                                        </li>
                                        <br>
                                    </div>
                                    <div ng-show="noteUpdateShow">
                                        <form ng-submit="updateThisNote( note._id, updatedNote )">
                                            <ul>
                                                <li>
                                                    <strong>Date:</strong> <input type="text" placeholder="{{note.date | date : 'shortDate'}}" ng-model="updatedNote.date">
                                                </li>
                                                <br>
                                                <li>
                                                    <strong>Description:</strong> <input type="text" ng-model="updatedNote.desc" placeholder="{{note.desc}}">
                                                </li>
                                                <br>
                                                <li>
                                                    <strong>Note:</strong> <input type="text" ng-model="updatedNote.body" placeholder="{{note.body}}">
                                                </li>
                                                <br>
                                                <input type="submit" id="submit" value="Save" class="btn">
                                                <button class="btn" ng-click="clear()">Cancel</button>
                                            </ul>
                                        </form>
                                    </div>
                                    <button ng-show="!noteUpdateShow" class="btn" ng-click="canUpdateNote()">Edit note</button>
                                </ul>
                            <hr>

                <!-- show patients -->
                            <h3>Patients:</h3>
                            <ul ng-click="getPatient( patient._id )" ng-repeat="patient in oneRef.patients track by patient._id">
                                <li>
                                    <strong>Name:</strong> <a>{{patient.firstName}} {{patient.lastName}}</a>
                                </li>
                                <li>
                                    <strong>DoB:</strong> {{patient.DOB | date : 'mediumDate'}}
                                </li>
                                <li>
                                    <strong>SSN:</strong> {{patient.ssn}}
                                </li>
                                <li>
                                    <strong>Number of implants</strong> {{patient.implants.length}}
                                </li>
                                <br>
                            </ul>
                            </div>
                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>