        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p>
                        Oral Surgery Inventory
                    </p>
                </li>
                <li>
                  <a ng-click="goTo( 'implants' )" role="button">Implants</a>
                </li>
                <!-- <li>
                  <a ng-click="goTo( `` )" role="button">Bone Grafts</a>
                </li> -->
                <li>
                  <a ng-click="goTo( 'drugs' )" role="button">Drugs</a>
                </li>

                <li>
                  <a ng-click="goTo( 'materials' )" role="button">Materials</a>

                </li>

            </ul>
        </div>