        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p>
                        Oral Surgery Inventory
                    </p>
                </li>
                <li>
                    <a href="" ng-click="implants()">Implants</a>
                </li>
                <li>
                    <a href="" ng-click="boneGrafts()">Bone Grafts</a>
                </li>
                <li>
                    <a href="" ng-click="drugs()">Anesthesia Drug Record</a>
                </li>
                <li>
                    <a href="" ng-click="referrals()">Referrals</a>
                </li>
            </ul>
        </div>