
                        <h1>Drugs</h1>

        <!-- search info -->
                        <br>
                        <label>Search by brand name: </label>
                        <input type="text" ng-model="search.brand">
                        <br>
                        <label>Search by generic name: </label>
                        <input type="text" ng-model="search.generic">
                        <br>
                        <label>Search by strength: </label>
                        <input type="text" ng-model="search.strength">
                        <br>
                        <label>Search by Rep: </label>
                        <input type="text" ng-model="search.rep.name">
                        <br>
                        <br>
                        <button class="btn" ng-click="goToCreateDrug()">Create Drug</button>
                        <hr>

        <!-- repeated drug info -->

                        <div ng-repeat="drug in allDrugs | filter: search | orderBy: 'brand' track by drug._id">
                            <ul>
                                <li class="needsReorder" ng-show="drug.needsReorder">
                                    <h3><strong>Reorder at least {{drug.reorderAmount}}</strong></h3>
                                </li>
                                <li>
                                    <strong>Brand:</strong> {{drug.brand}}
                                </li>
                                <li>
                                    <strong>Generic:</strong> {{drug.generic}}
                                </li>
                                <li>
                                    <strong>Strength:</strong> {{drug.strength}}
                                </li>
                                <li>
                                    <strong>Vial size:</strong> {{drug.vialSize + drug.vialType}}
                                </li>
                                <li>
                                    <strong>On Hand:</strong> {{drug.onHand}}
                                </li>
                                <li>
                                    <strong>Remaining Volume:</strong> {{drug.remainingVol + drug.vialType}}
                                </li>
                                <li>
                                    <strong>Minimum needed on hand:</strong> {{drug.minOnHand}}
                                </li>
                                <li>
                                    <strong>Next reorder date:</strong> {{drug.nextReorderDate | date: 'mediumDate'}}
                                </li>
                                <li>
                                    <strong>Rep:</strong> {{drug.rep.name}}
                                </li>
                                <li>
                                    <strong>Last updated</strong> {{drug.updated.date | date: 'mediumDate'}}
                                </li>

                <!-- previous order info -->

                                <ul ng-repeat="order in drug.orders" ng-click="orderShow = !orderShow"><strong>Orders</strong><span class="caret"></span>
                                    <div ng-show="orderShow">
                                        <li>
                                            <strong>Order:</strong> {{order.orderDate | date: 'mediumDate'}}
                                        </li>
                                        <li>
                                            <strong>Order amount:</strong> {{order.qty}}
                                        </li>
                                    </div>
                                </ul>
                                <br>
                                <button class="btn" ng-click="getRep( drug.rep._id )">Contact rep</button>
                                <button class="btn" ng-click="goToUpdateDrug( drug._id )">Update</button>
                            </ul>
                        <hr>
                        </div>
                    